<mat-nav-list>
    <a *ngFor="let menu of menus$ | async" 
      mat-list-item [routerLink]="menu.router"
      (click)="onClose()">
      <mat-icon>{{menu.icon}}</mat-icon>
      <span class="nav-caption">{{menu.name}}</span>
    </a>
    <mat-list-item *ngIf="(isAuth$ | async)">
        <button type="button" 
          mat-icon-button 
          (click)="onLogout()" >
            <mat-icon>keyboard_tab</mat-icon>
            <span class="nav-caption">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>